
{% extends 'funmash_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Change Password
{% endblock %}
{% block styles %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/registrationStyle.css' %}" />

{% endblock %}
{% block body_block %}

<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
	<h2 for="form-siginin-heading">Change password</h2>

		<input type="password" name="old_password" id="id_old_password" class="form-control"
			placeholder="Old Password" required>


		<input type="password" name="new_password1" id="id_new_password1" class="form-control"
			placeholder="New Password" required>


		<input type="password" name="new_password2" id="id_new_password2" class="form-control"
			placeholder="Confirm New Password" required > </input>
		<button class="btn btn-lg btn-primary btn-block" type="submit"
			value="Submit" />Change Password</button>
</form>

{% endblock %}