{% extends 'funmash_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Change Password
{% endblock %}

{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
rel="stylesheet">
<div class="jumbotron">
	<h1 class="display-3">Change password</h1>
</div>
<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
	<h2 for="form-siginin-heading">Change password</h2>
		<label for="oldpassword" class="sr-only">Old password</label>
		<input type="password" name="oldpassword" id="id_oldpassword" class="form-control"
			placeholder="Oldpassword" required autofocus>	
			
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="id_password" class="form-control" 
			placeholder="Password" required>
			
		<label for="inputPassword2" class="sr-only">Password Confirmation</label>
		<input type="password" name="password2" id="id_password2" class="form-control" 
			placeholder="Password2" required >
		<button class="btn btn-lg btn-primary btn-block" type="submit"
			value="Submit" />Change Password</button>
</form>	

{% endblock %}