{% extends "funmash_app/base.html" %} 
{% load staticfiles %}


{% block styles %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/registrationStyle.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" >	
{% endblock %}

{% block body_block %}

	
<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
		<h2 for="form-siginin-heading">Register Here!</h2>
		
		<input type="text" name="username" id="id_username" class="form-control"
			placeholder="Username" required autofocus>
				
		<input type="text" name="email" id="id_email" class="form-control" 
			placeholder="Email" required>
		
		<input type="password" name="password" id="id_password" class="form-control" 
			placeholder="Password" required>
			
		<input type="password" name="password2" id="id_password2" class="form-control" 
			placeholder="Confirm Password" required >
			
		<button  type="submit" value="Submit" />Sign Up</button>
		<p>Already a member? <a href="{% url 'auth_login' %}">Login</a></li>
</form>

{% endblock %}