{% extends 'funmash_app/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
<script src="{% static "js/about.js" %}"></script>
{% endblock %}

{% block title_block %}
	About FunMash
{% endblock %}

{% block body_block %}
<h1 class="headertext">About Funmash</h1>
<div class="bg">

		<div class="about">
			
			
			<div id="mySideBar" class="sideBar">	
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				
				<form class="feedbackform" role="form" action="" method="post">
					{% csrf_token %}
					Got feedback?<br><br>
					Your name: <br>
							<input type="text" id="contact_name" name="contact_name" {% if user.is_authenticated %} value = "{{ user.username }}" {% endif %} ><br>
							<br>

							Your email: <br>
							<input type="text" id="contact_email" name="contact_email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} ><br>
							<br>

							Tell us what you think: <br>
							<textarea name="content" id="content" rows="15" cols="50">I'm in love with your site!</textarea><br>
					<button type="submit" id="leo">Submit</button>
				</form>
				
	
			</div> 
			<div class="buttondiv">
			<button id="open" class="button" onclick="openNav()"><span>Got feedback?</span></button>	
			</div>
			
				<p class="p1" id="leotext">
					{{ leotext }} <br/>
				</p>
				
				<p class="p2" id="quote1">
					Registering with your email address lets you see which images were rated as the funniest.
				</p>
				
				<p class="p3" id="quote2">
					Upload your own images and be recognised for your exceptional sense of humour!
				</p>
				
				<p class = "p4" id="quote3">
					For feedback and latest statistics, feel free to email <br/><a href="mailto:1103086v@student.gla.ac.uk">the Funmash team</a>
					{% if user.is_authenticated %} or fill out the form below: {% endif %}
				</p>
	
		</div>	
	<br/>
</div>
{% endblock %}