{% extends 'funmash_app/base.html' %}
{% load static %}
	
{% block title_block %}
	Funmash - index
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}


{% block body_block %}
	
	<h1>One index to rule them all.</h1>
	<div id="bothimages">
	<div id="cimg1">
	{% if firstImage %}
		<div class="image" id="img1" number="{{ firstImage.name }}">			
			<img src="{{ firstImage.source }}" > 
		</div>
	{% else %}
		First image is missing. FixIt!	
	{% endif %}
	</div>
	<div id="cimg2">
	{%if secondImage %}
		<div  class="image" id="img2" number="{{ secondImage.name }}">			
			<img src = "{{ secondImage.source }}" >
		</div>
	{% else %}
		Second image is missing. FixIt!
	{% endif %}
	</div>
	</div>
{% endblock %}