{% extends 'funmash_app/base.html' %}
{% load static %}

{% block title_block %}
	Funmash - index
{% endblock %}

{% block body_block %}
	
	<h1>One index to rule them all.</h1>
	
	{% if firstImage %}
		<div>
			<a href="{% url 'index2' firstImage.name %}">
			<img src="{{ firstImage.source }}" > 
		</div>
	{% else %}
		First image is missing. FixIt!	
	{% endif %}
	
	{%if secondImage %}
		<div>
			<a href="{% url 'index2' secondImage.name %}">
			<img src = "{{ secondImage.source }}" >
		</div>
	{% else %}
		Second image is missing. FixIt!
	{% endif %}

{% endblock %}