{% extends 'funmash_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ selecteduser.username }} Profile
	
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}" />
{% endblock %}

<script src="{% static "js/profile_img.js" %}"></script>		

{% block body_block %}
	<section class="mainsection">
	<section>
		<div class="toppanel">
		<div id="username">
		<br>
		{{ selecteduser.username }} Profile
		 </div>
		 {% if selecteduser.username == user.username %}
		 	<form method="post" action="." enctype="multipart/form-data">
		 	{% csrf_token %}
		 	{{ form.as_p }}
		 	<input type="submit" value="Update" />
		 	</form>
		 {% endif %}
		
		 	<button href="{% url 'auth_logout' %}?next=/funmash_app/">Logout</button>
		
		
		</div>
		<div class="time">
		
		<p>User since [x]</p>
		</div>
		<div class="changePassword">
		<a href="{%  url 'auth_password_change' %}">Change password</a></div>


		<div class="top5button">
		<br>
		<a href="{% url 'top5' %}">View Top Images</a>
		</div>

		
		<div class="form">
		<p id="firsttext">Submit an image to the mash pit</>
		<p id="secondtext">Add new image</p>
		
		</div>
		
		<div id="upload_pic">
		<form id="imageUploadForm" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="myfile" id="input_pic">
		<button type="submit">Upload</button>
		<div id="fade"><p id="ifsuccess"></p></div>
		</form>
		</div>
		
		</section>
		<section>

		<div>
		<p>Your submissions</p>
		
		<table class="imagescontainer" id="uploaded" >
		<!-- numOfPicLast is index of last picture + 1, numOfPicFirst is index of first picture -->
		<!-- so basically when pressed next numOfPicLast becomes numOfPicFirst -->
		<!-- these attribtuttes are then used in sending information in js-->
		<tr id="keepTrack" numOfPicLast="{{ numOfImages }}" numOfPicFirst="{{ numOfFirstImage }}">
		
		{% if user_images1 %}
			{% for image in user_images1 %}
				<td><img src="{{ image.source }}" onclick="popup()"> </td>
			{% endfor %}
			</tr>
			<tr>
			{% for image in user_images2 %}
				<td><img src="{{ image.source }}" onclick="popup()"> </td>
			{% endfor %}
		{% else %}
			<td><p>You should upload more images!</td>
		{% endif %}
		</tr>
		</table>
		<button id="previous"><-- Next</button>
		<button id="next">Previous --></button>		
		</div>
		
		</section>
		<script src="{% static "js/funmash-ajax-profile.js" %}">		
		</script>
		</section>


{% endblock %}
 

 
  


