{% extends 'funmash_app/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Funmash - top 5
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/top5.css' %}" />
{% endblock %}

{% block body_block %}
	
	<h1 class="headertext">Top 5 Highest Rated Images</h1>
	<div class="topimages">
		{% for image in topImages %}
			<img class="topImg" src="{{ image.source }}"><br>
			{% if user.is_authenticated %}
			<p class="ownermsg" id="img1">Image uploaded by {{ image.owner }}</p>
			{% else %}
			<p class="ownermsgfail" id="img1">Log in to see image owner</p>
			{% endif %}
			<br>
		{% endfor %}
		
		
	</div>
	
{% endblock %}
