	.bg { 
	  background: url("background_collage.jpg") repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: 60%;
	  background-blend-mode: overlay;
		height: calc(70vh);
	}

	.about {
		
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;	
		font-style: normal;
		font-variant: normal;
		font-size: 3vh;	

	}

	.p1 {
	  position:fixed;
	  padding:7vmin 3vmin;
	  left: 45%;
	  top: 13%;
	  font-size: 2.3vh;
	  /*margin:1em auto 60px;*/
	  border:2px solid #BC2800;
	  text-align:center;
	  color:#000;
	  background-color: rgba(255, 255, 255, 0.8);
	  
	  -webkit-border-top-left-radius:48vmin 24vmin;
	  -webkit-border-top-right-radius:48vmin 24vmin;
	  -webkit-border-bottom-right-radius:48vmin 24vmin;
	  -webkit-border-bottom-left-radius:48vmin 24vmin;
	  -moz-border-radius:48vmin / 24vmin;
	  border-radius:48vmin / 24vmin;

	  max-width: 40vmin;

/*	  	  -webkit-border-top-left-radius:480px 240px;
	  -webkit-border-top-right-radius:480px 240px;
	  -webkit-border-bottom-right-radius:480px 240px;
	  -webkit-border-bottom-left-radius:480px 240px;
	  -moz-border-radius:480px / 240px;
	  border-radius:480px / 240px;

	  max-width: 400px;*/
	  
	}

	/* creates larger curve */
	.p1:before {
	  content:"";
	  position:absolute;
	  z-index:-2;
	  bottom:-3vmin;
	  right:50%;
	  width:5vmin;
	  height:3vmin;
	  border-style:solid;
	  border-width:0 2px 2px 0;
	  border-color:#BC2800;
	  margin-right:-1vmin;
	  background:transparent;
	  /* css3 */
	  -webkit-border-bottom-right-radius:8vmin 5vmin;
	  -moz-border-radius-bottomright:8vmin 5vmin;
	  border-bottom-right-radius:8vmin 5vmin;
	  /* reduce the damage in FF3.0 */
	  display:block;

	}

	.p1:after {
	  content:"";
	  position:absolute;
	  z-index:-2;
	  bottom:-3.3vmin;
	  right:50%;
	  width:2vmin;
	  height:3.1vmin;
	  border-style:solid;
	  border-width:0 2px 2px 0;
	  border-color:#BC2800;
	  margin-right:2vmin;
	  background:transparent;
	
	  -webkit-border-bottom-right-radius:4vmin 5vmin;
	  -moz-border-radius-bottomright:4vmin 5vmin;
	  border-bottom-right-radius:4vmin 5vmin;
	
	  display:block;

	}

/*	.p1:before {
	  content:"";
	  position:absolute;
	  z-index:-2;
	  bottom:-33px;
	  right:50%;
	  width:50px;
	  height:30px;
	  border-style:solid;
	  border-width:0 2px 2px 0;
	  border-color:#BC2800;
	  margin-right:-10px;
	  background:transparent;
	
	  -webkit-border-bottom-right-radius:80px 50px;
	  -moz-border-radius-bottomright:80px 50px;
	  border-bottom-right-radius:80px 50px;
	  
	  display:block;

	}

.p1:after {
	  content:"";
	  position:absolute;
	  z-index:-2;
	  bottom:-33px;
	  right:50%;
	  width:20px;
	  height:31px;
	  border-style:solid;
	  border-width:0 2px 2px 0;
	  border-color:#BC2800;
	  margin-right:20px;
	  background:transparent;
	
	  -webkit-border-bottom-right-radius:40px 50px;
	  -moz-border-radius-bottomright:40px 50px;
	  border-bottom-right-radius:40px 50px;
	
	  display:block;

	}


	*/

	/* creates smaller curve */
	

/* black text with white background alt 
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 7px;
		padding:20px;
*/
	.p2 {
		position:absolute;
		display:inline-block;
		top: 62%;
		left: 28%;
		max-width: 80vmin;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.3);
		font-weight:900;
		color:white;
		border-radius: 0.7vmin;
		padding:2vmin;
	}

	.p3 {
		position:absolute;
		display:inline-block;
		top: 62%;
		left: 28%;
		color:white;
		max-width: 80vmin;
		text-align: center;
		font-weight:900;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 0.7vmin;
		padding:2vmin;
	 
	}


	.p4 {
		position:absolute;
		display:inline-block;
		top: 62%;
		left: 28%;
		max-width: 80vmin;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.3);
		font-weight:900;
		color:white;
		border-radius: 0.7vmin;
		padding:2vmin;
	 
	}

	.formdiv {
		position:absolute;
		top:240%;
		width: 100%;
		text-align: center;
	}


/* Navigation sidebar */
.sideBar {	
	height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 3, 0.89); 
    overflow-x: hidden; 
    padding-top: 3vh; 
    transition: 0.5s; 
}
#open {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #BD0000;
	font-size: 3vmin;
	text-align: left;
	font-style: normal;
	font-variant: normal;
	text-shadow: 2px 2px 24px rgba(150, 150, 150, 1);	
	display: inline;
	padding: 16px;
	text-decoration: none;

}
/* Style of close bar */
.sideBar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sideBar form {
		position:relative;
		display: inline-block;
		/*top: 240%;*/
	
		max-width: 400px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.0);
		font-weight:900;
		color:white;
		border-radius: 7px;
		padding:20px;
	 	margin-right: auto;
	 	margin-left: auto;
	}


/* Resize  side bar on smaller windows */	
@media screen and (max-height: 450px) {
	.sideBar {padding-top: 15px;}
	.sideBar a {font-size: 18px; }
}


.button {
  display: inline-block;
  border-radius: 4px; 
  border: none;
  color: #9b1304; 
  box-shadow: 10px 10px 5px #9b1304;
  background-color:  #ffffff;
  text-align: center;
  font-size: 3vw;
  padding: 2vw;
  width: 26vmin;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left:4.3%;
  top: 25%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-left: 0.43vw;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#leo {
	
}
	/* boring alternative that works: paragraphs centered underneath each other

	.p2 {
		left: 41%;
		top: 60%;
		width: 400px;
		display: inline-block;
		position: absolute;
		text-align: center;
	}

	.p3 {
		left:41%;
		top: 75%;
		width: 400px;
		display:inline-block;
		position: absolute;
		text-align: center;
	}

	.p4 {
		left:41%;
		top: 90%;
		width: 400px;
		display:inline-block;
		position: absolute;
		text-align: center;
	}

	*/