/* Formatting for the two images container */
div#bothimages{
	display: table;
	margin: auto;
	border-spacing: 10px;
	border-collapse: separate;
	overflow: hidden;
	width: 90%;
	position: center;
	text-align: center;
	background-color: #fff7e8;
	margin-right: 5%;
    margin-left: 5%;
	border:1px solid #021a40;
	box-shadow: 10px 10px 5px #9b1304;
}
/* Formatting for the first image container */
div.imgdiv {
	display:inline-block;
	width: 45%;
	height: 90%;
	vertical-align: middle;

}
/* Formatting for the first image */
img.image {
  
	max-width: 80%;
	max-height: 80%;
  
}
 /* Formatting for the first image container */
#cimg1 {
	padding-left: 5%;
}
/* Formatting for the second image container */
#cimg2 {
	padding-left: 5%;
}
/* Formatting text of ownership of images */
p {
	font-weight:normal;
	font-style:italic;
	word-spacing:2pt;
	font-size:11px;
	letter-spacing:1pt;
	font-family:verdana, sans-serif;
	line-height:1;
	padding-left: 5%;	
}
/* Formatting text when user is logged in */
p.ownermsg {
	color:#BDBDBD;	
}
/* Formatting for text when user is not logged in */
p.ownermsgfail {
	color:#ff7a6b;
}


