img.image {
		display:inline-block;
		height: 450px;
		width: auto;
		vertical-align: middle;
	}


#bothimages {
	display: table;
	margin: auto;
	border-spacing: 10px;
	border-collapse: separate;
	overflow: hidden;
}

