body {
	background-color:  #fffdf4;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	
}
p {
	font-style: italic;
	text-align: left;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: 2px 2px 24px rgba(150, 150, 150, 1);
	color:#9b1304;	
	display: block;
	padding: 16px;
	text-decoration: none;
}

/* Navigation sidebar */
.sideBar {	
	height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 

}
#open {
	
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #BD0000;
	font-size: 22px;
	text-align: left;
	font-style: normal;
	font-variant: normal;
	text-shadow: 2px 2px 24px rgba(150, 150, 150, 1);	
	display: inline;
	padding: 16px;
	text-decoration: none;
}

/* Links on side bar */
.sideBar  a {
	
	padding: 80px 8px 20px 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	color: #BD0000;	
}
/*  Change color of links when you hover over them */
.sideBar  a:hover, .offcanvas a:focus {
	color: #ffe29b;
}
/* Style of close bar */
.sideBar .closebtn {
	
	position: absolute;
	top: 0%;
	right: 25px;
	font-size: 50px;
	margin-left: 50px;
}
/* Push page content to the right when opening side bar */
#main {
	display: table;
	margin: auto;
	
	border-collapse: separate;
	transition: margin-left .5s;
	padding: 20px;
	width: 90%;
	margin-right: 20%;
	margin-left: 20%;
	
	
}
/* Resize  side bar on smaller windows */	
@media screen and (max-height: 450px) {
	.sideBar {padding-top: 15px;}
	.sideBar a {font-size: 18px; }
}
.button {
  display: inline-block;
  border-radius: 4px; 
  border: none;
  color: #9b1304; 
  box-shadow: 10px 10px 5px #9b1304;
  background-color:#fffdf4;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.uploadform {
	display:inline-block;
	width: 30%;
	height: 90%;
	vertical-align: middle;

	padding-left: 120px;
	padding-top: 50px;

	padding-bottom: 40px;

}
#firsttext{
	font-size: 24px;
}
#secondtext {
	font-size: 16px;
}
.submissions {
	display:inline-block;
	width: 30%;
	height: 90%;
	vertical-align: middle;
	padding-bottom: 80px;
	
	
 }
.submissions p {
	
	font-size: 40px;
 }


.imagescontainer table {
	
	width: 100%;
}
.imagescontainer td {
	padding: 10px;	
}
.imagescontainer img {
	width: 75px;
	height: 75px;
}