body {
	background-color: #ffe29b;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	
}
p {
	font-style: italic;
	
	text-align: left;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: 2px 2px 24px rgba(150, 150, 150, 1);
	color:#9b1304;	
	display: block;
	padding: 16px;
	text-decoration: none;
}
#wrapper {
	width: 80%;
	float: center;
}

.sideBar {	
	float: left;
	width: 100px;
	padding-left: 12px;
}
.sideBar  a {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	color: #BD0000;	
	display: block;
    text-align: left;	
    padding: 16px;
	text-decoration: none;
}
.uploadform {
	float: left;
	width: 500px;
	padding-left: 120px;
	padding-top: 50px;
}
#firsttext{
	font-size: 24px;
}
#secondtext {
	font-size: 16px;
}
.submissions {
	float: right;
	width: 500px;
 }
.submissions p {
	font-size: 20px;
 }


.imagescontainer table {
	width: 100%;
}
.imagescontainer td {
	padding: 10px;	
}
.imagescontainer img {
	width: 75px;
	height: 75px;
}





