body {
	background-color: #fffdf4;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #9b1304;
	padding-top: 0px;
}

.form-signin h2 {
	text-align: left;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	text-shadow: 2px 2px 24px rgba(150, 150, 150, 1);
	color:#9b1304;	
	display: block;
	text-decoration: none;
}
.form-signin button {
	background-color: #f7efdc;
	color: #9b1304;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	width: 220px;
}

.form-signin {
	padding-left: 5%;
}
